<!--
  Generated template for the FeedbackMultiple component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<section class="card-feedback">
    <div class="card-feedback__heading ">
        Negative feedbacks of the month
    </div>

    <div class="card-feedback__content">
        <div *ngFor="let feedback of feedbackcollection" class="card-feedback__item">
            <p>{{feedback.orderDate}}</p>
            <p>{{feedback.kitchenName}}</p>
            <div>
                <p *ngFor="let comment of feedback.comments"
                    class="card-feedback__comment">
                    {{comment}}
                </p>
            </div>
        </div>
    </div>
</section>

