page-feedback-report {

    ion-content{
        background-position: center;
        background-size: cover;
        background-image: url('../assets/images/BG-CUP-DARK-BLUR.jpg');
        background-repeat: no-repeat;
        background-color: #181818;
    }



}
